---
const { title } = Astro.props;
---

<header class="header">
  <h1 class="title">
    {title}
  </h1>
</header>

<style>
  .header {
    background: var(--color-primary);
    height: 15%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding: 0rem 1rem;
  }
  .title {
    padding: 2rem 3rem;
  }
</style>
