---
const { title } = Astro.props;
---

<header class="header">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  />

  <h1 class="title">
    {title}
  </h1>
  <a
    href="https://github.com/Divij-Mahajan/sorting-visualiser"
    class="fa fa-github icon fa-2x"></a>
</header>

<style>
  .header {
    background: var(--color-primary);
    height: 15%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
  .icon {
    padding-right: 1rem;
    color: white;
  }
  .title {
    padding: 2rem 3rem;
  }
</style>
